# BUSINESS PERFORMANCE OPERATIONAL EFFICIENCY ANALYSIS FOR A LOGISTICS COMPANY

In [24]:
# We have been given a data set which is in a csv (comma-separatedvalues) file.
# First and foremost we have to read the dataset in a pandas dataframe and to do this we have steps which will be listed below.
# A dataframe is a 2 Dimensional table.

# To be able to read our dataset into pandas we have to;
# A. upload the dataset into our jupyter notebook folder,
# so it can be accessesible by the computer without throwing an error of file not found
# B. import pandas under any alias mine i choose pd, yours you can choose pnd, e.t.c.
# Pandas is a software library written for the Python programming language for data manipulation and analysis.

import pandas as pd

In [25]:
def read_dataset(file_path):

    """
    This function reads a dataset from a file into a pandas DataFrame and handles errors gracefully.

    Parameters:
    file_path (str): The path to the dataset file.

    Returns:
    pd.DataFrame or None: Returns the DataFrame if successful, otherwise None.
    """
    try:
        # Try reading the file
        data_set = pd.read_csv(file_path)
        print("File loaded successfully.")
        return data_set
    except FileNotFoundError:
        # Handle the case where the file is not found
        print(f"Error: The file at path '{file_path}' was not found.")
    except pd.errors.EmptyDataError:
        # Handle the case where the file is empty
        print(f"Error: The file at path '{file_path}' is empty.")
    except pd.errors.ParserError:
        # Handle the case where the file contents are not parseable
        print(f"Error: The file at path '{file_path}' could not be parsed. Please check if it's a valid CSV.")
    except Exception as e:
        # Catch all other exceptions and print a generic message
        print(f"An unexpected error occurred: {str(e)}")
    
    # Return None if an error occurred
    return None

In [26]:
read_dataset('dfa.csv')

Error: The file at path 'dfa.csv' was not found.

In [29]:
data_set = read_dataset("C:\\Users\\OLAMIKUN\\OneDrive\\Documents\\Business-Performance-Logistics\\2. Data\\archive (3)\\logistics_shipments_dataset.csv")

File loaded successfully.

In [32]:
data_set.head()

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
2,SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
3,SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3

In [34]:
type(data_set)

pandas.core.frame.DataFrame